{% extends 'layaout.html' %}

{% block title %}
BIBLIOTECA
{% endblock %}
{% block content %}

<h1 class="title"> BIBLIOTECA DEL USUARIO </h1>

<div class="songs">{{ songs }}</div>
<!--

    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody id="tablesongs">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>-->


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {% for e in songs %}
    <tr>
      <td>{{e[0]}}</td>
      <td>{{e[1]}}</td>
      <td>{{e[2]}}</td>
      <td>{{e[3]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}