{% extends 'layaout.html' %}

    {% block title %}
        INICIO
    {% endblock %}


    {% block content %}
        {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message alert-success">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}        
        
        <h1 class="title"> INICIO  </h1>
        <br>
        <p>
            Muchas tradiciones musicales en la música de arte occidental hacen uso de estructuras de acompañamiento melódico. 
            Distinguiendo la línea de la melodía tiene el significado más significativo y el acompañamiento que proporciona un apoyo armónico y rítmico.
            En este <a href="https://github.com/Masetto97/Symbolic-Melody-Identification/blob/master/paper.pdf">artículo</a> e propone un enfoque convolucional 
            para identificar la línea melódica de una pieza utilizando una representación de pianola de la partitura y haciendo uso de una de las formas de definir las voces de Cambouropoulos.
            <br><br>
            El esquema del sistema es el siguiente:
            <br>
        </p>
        <div align="center">
            <img src="{{url_for ('static', filename='img/diagrama.png')}}"  width="100%" height="100%"/>
        </div>
        <br><br>
       
    {% endblock %}