<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} | FLASK {% endblock %} | EJEMPLO DEL SISTEMA</title>
        <link rel='stylesheet' href="{{url_for ('static', filename='css/styles.css')}}">
    </head>


    <body>

        <!-- cabecera de la pagina-->
        <header>
            <div id="logotipo">
                <img src="{{url_for ('static', filename='img/logo.png')}}" />
                <h1>TFM EDUARDO MORA GONZÁLEZ</h1>
            </div>
        </header> 

        <nav>
            <ul>
                <li>
                    <a href="{{url_for ('index')}}">INICIO</a>
                </li>
                <li>
                    <a href="{{url_for ('biblioteca')}}">BIBLIOTECA</a>
                </li>
                <li>
                    <a href="{{url_for ('subir')}}">CARGAR ARCHIVO</a>
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
                <li>
                    <a href="{{url_for ('logout')}}">CERRAR SESION</a>
                </li>
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        
        <div id="content">

            <div class="box">
                {% block content %}
                    <strong>CONTENIDO DEL BLOQUE ORIGINAL</strong>
                {% endblock %}
            </div>

        </div>

        <footer>
            EDUARDO MORA GONZÁLEZ | {{now.day}}/{{now.month}}/{{now.year}}
        </footer>
        
    </body>
</html>





