<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SUBIR CANCION</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesLogin.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>SUBIR AL SISTEMA</h1>

			<form action="{{ url_for('subir') }}" method="post" autocomplete="off"  enctype="multipart/form-data" >
				<label for="name">
					<i class="fas fa-music"></i>
				</label>
				<input type="text" name="Titulo" placeholder="Titulo de la cancion" id="Titulo" required>
				</br>
				<label for="name">
					<i class="fas fa-star"></i>
				</label>
				<select name="estilo">
					<option>CLASICO</option>       
				</select>
				</br>
				<label for="name">
					<i class="fas fa-folder-open"></i>
				</label>
				<input type=file name=file>
				<div class="msg">{{ msg }}</div>
				<input type=submit value=Upload>
				<input type="submit" onclick="history.back()" value="VOLVER">
			</form>
		</div>
	</body>
</html>